<div class="panel panel-default m25">
    <div class="panel-heading text-center">
        <h3 class="tweet">ツイートする</h3>
    </div>
    <div class="panel-body">
        <%= render 'form' %>
    </div>
</div>